// ======================================== [IMPORTS]
@import '../_shadow.scss';
@import '../_colors.scss';
@import '../_transition.scss';

// ======================================== [BUTTONS]
.btn {
    height: 47px;
    padding: 0 1.7em;
    cursor: pointer;
    border: none;
    border-radius: 7px; 
    transition: $transition-1;
    background-color: hsl(0, 0%, 100%);
    box-shadow: $shadow-1;
    color: #fff;
    font-size: 16px;

    i {
        color: hsl(0, 0%, 100%) !important;
    }

    // &:hover {
    //     transform: scale(0.97);
    // }

    &:active {
        transform: scale(0.85);
    }
}

// ========== [PRIMARY]
.btn-cad {
    background-image: $gradient-1;
}

// ========== [primary]
.btn-primary {
    background-color: $color-7;
}

// ========== [SUCCESS]
.btn-secondary {
    background-color: $color-8;
}

// ========== [DANGER]
.btn-danger {
    background-color: $color-danger;
}

// ========== [TO UP]
.btn-up {

    &:hover {
        box-shadow: $shadow-1;
        transform: scale(1.1);

        i {
            transform: scale(1.2);
        }
    }

    &:active {
        transform: scale(0.99);
        outline: none;
    }
}

// ========== [OPTIONS]
.options{
    margin-bottom: .8em;
    display: flex;
    flex: 1;
    
    .btn-primary, .btn-secondary{
        width: 100%;
        margin-right: .4em;
        padding: 0 0;
        // background-color: $color-7;
    }
}