// ======================================== [IMPORTS]
@import '../_shadow.scss';
@import '../_colors.scss';
@import '../isFlex';
@import '../isGrid';

.footer {
    width: 100%;
    height: 60vh;
    @include is-flex(flex-start, flex-start);
    padding: 3em;
    box-shadow: $shadow-1;
    background-color: white;

    h1{
        font-size:18px;
        font-weight: bold;
        margin-bottom: .8em;
    }
    h2{
        font-size:16px;
    }
    h3{
        font-size:14px;
    }

    .column{
        @extend .grid-4;
        & > *{
            max-width: 75%;
        }   
    }

    span {
        color: white;
    }

    span {
        margin-left: .4em;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $color-2;
        }
    }

    p {
        margin-bottom: 1.2em;
    }

    .footer-buttons {
        @include is-flex(center, flex-start);
    }

    .btn-footer {
        background-color: $color-2;
        margin-right: .8em;
        border-radius: 10px;
    }
}